.App {
  background: url(https://drive.google.com/uc?export=view&id=1AFqhM2qrXF2an1hpqw1Y-BWGv4qxpMp2);
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: "Varela", sans-serif;
}

.Nav {
  width: 100vw;
  padding: 50px 50px 0px 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo_Nav {
  width: 4%;
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  /* background: red; */
  overflow: visible;
}

.Menu_Middle {
  width: 71%;
}

.name {
  padding-left: 100px;
  font-size: 25pt;
  visibility: hidden;
  font-weight: 900;
  letter-spacing: 0.5pt;
  position: absolute;
  font-family: Courgette;
}

.Menu {
  width: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 14pt;
  margin-right: 150px;
  padding: 10px;
}

.Logo_Nav:hover .name {
  visibility: visible;
  /* opacity: 0; */
  animation-name: leftFadeInOut;
  animation-delay: 0;
  animation-duration: 1s;
  /* visibility: hidden; */
}

@keyframes leftFadeInOut {
  0% {
    position: absolute;
    left: 0px;
    opacity: 0;
  }

  100% {
    position: absolute;
    opacity: 1;
    left: 65px;
  }
}

.Title {
  width: 100vw;
  /* height: yes; */
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 75px;
  color: white;
  /* background: red; */
  max-width: 100%;
  max-height: 100%;
  bottom: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.Title > div:nth-child(2) {
  width: 35%;
  font-size: 50pt;
  font-weight: bold;
  padding-bottom: 30px;
  font-family: Courgette;
}

.Title > div:first-child {
  width: 35%;
  font-size: 15pt;
  line-height: 30pt;
  letter-spacing: 0.5px;
  
}

.Title > div:last-child {
  width: 50%;
  font-size: 15pt;
  line-height: 20pt;
  letter-spacing: 0.5px;
  padding-bottom: 75px;
}

a:visited,
a:hover,
a:link,
a:active {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

.link {
  padding: 7px 10px 7px 10px;
}
.link:hover {
  border-bottom: white solid 2px;
}
